@font-face {
    font-family: "Nimbus Sans ME Demi";
    src: url("Nimbus Sans ME Demi.ttf");
    src: url("Nimbus-Sans-ME-Demi.woff");
}


body {
    font-family:;
}

hr {
    margin-left: 1%;
    margin-right: 30%
}

img {
    width: 180px;
    height: 190px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 4px solid rgba(40, 40, 40, 0.1);
    margin-top: 20%;
}

a {
    color: #404040;
}

li {
    color: #FECA07;
    vertical-align: middle;
}

p {
    color: black;
}

.box {
    margin-left: -2%;
    margin-bottom: 15px;
}

.cadre {
    text-align: center;
    background-color: #404040;
    color: #FECA07;
    margin: 10px -15px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.colle {
    margin-bottom: 5px;
}

.contact {
    margin-bottom: 16px;
    color: #404040;   
}

.down {
    margin-bottom: 1px;
}

.foo {
    padding-bottom: 50px;
}

.grey {
    color: #404040;
}

.icone2 {
    margin-left: 1%;
    margin-right: 2.5%;
    color: #FECA07;
    font-size: 32px;
    margin-top: 7px;
    float: left;
    display: list-item;
}

.light {
    font-weight: 100;
}

.line {
    line-height: 10px;
    margin-bottom: 1px;
}

.large {
    padding-right: 50%; 
}

.manda {
    margin-bottom: 7px;
}

.margin2 {
    margin-left: 20px;
    color: #404040;
}

.pen {
    margin-left: 1%;
}

.principe {
    font-size: 27px;
}

.presentation {
    background-color: white;
}

.reco {
    margin-bottom: 3px;
}

.rond {
    list-style-image: url(image/dot-circle-regular.svg);
    padding-left: 13px;
    margin-left: -3px
}

.spacing {
    padding-left: 10px;
}

.style {
    text-decoration: underline #FECA07;
}

.symbole {
    margin-left: 10px;
    font-size: 33px;
    padding: 5px 5px 5px 5px;
    border: solid black;
    border-radius: 100px;
    color: #404040;
}

.subtitle {
    font-size: 21px;
    font-weight: 500;
    color: #404040;
    margin-bottom: 1px;
}

.weight {
    font-weight: 500;
    
    
    
}


@media all and (max-width: 1630px) {
    .dation {
        margin-left: 100px;
    } 
} 



#icone {
    text-align: center;
}

#info {
    background-color: #FECA07;    
}

#Loisir {
    position: absolute;
    width: 100%; height: -100%;
    bottom: 0; left: 0; right: 0;
    margin-bottom: 20px;
}

#nom {
    margin-top: 7%;
    margin-left: 2%;
    
}

#prenom {
    color: #FECA07;
    font-weight: 400;
}

#propos {
    margin-bottom: 100%;
    padding-right: 28px;
    text-align: justify;
    word-spacing: -2px;
}

#tout {
    min-height: 100vh;
}

#titre {
    margin-bottom: 100px;
    margin-left: 2%;
    font-size: 1.6em;
    font-weight: 500
}